body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

body>div.container{
    margin-top: 50px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-container>*{
    flex: 0 1 auto;
    margin-left: 16px;
    margin-right: 16px;
}

body>div.container>form{
    padding: 32px;
}

#cars, #components{
    padding: 0 16px;
}

#cars a, #components a{
    display: block;
}